<div class="bg">
    <br>
    <br>
    <br>
    <div class="container">
        <ul class="custom-list">
            <br>
            <li>NKJS is a Registered Society under the West Bengal Societies Registration Act, 1961</li>
            <li>Established in 2011 under the leadership of noted philanthropist Mr. Yashwant Singh.</li>
            <li>NKJS's prime objective is to create and support meaningful social activities through innovative
                solutions to address some of India's most pressing developmental challenges.</li>
            <li>NKJS lays significant emphasis on leveraging the strength & availability of human resources taking the
                advantages of India's demographic dividend.</li>
            <li>Following its model of direct social engagement, NKJS directly reaches out to the communities through
                trained manpower thereby creating the desired social impact.</li>
            <li>NKJS's objective & vision is to display “Seva Bhav” by working & providing value added services in the
                field of Health, Education and Social sector ecosystems through collaboration, partnerships and by
                providing high-impact and scalable solutions.</li>
            <li>NKLS works in alignment with the United Nation's Sustainable Development Goals with the primary
                objective of improving “Good Health & Well-Being” (SDG Goal No. 3) & improving “Quality Education” (SDG
                Goal No. 4)</li>
            <li>In the past 10 years, NKJS has positively impacted the lives of millions of Indians by focusing on the
                most marginalized groups and vulnerable population.</li>
                <br>
        </ul>
        <br>
    </div>
</div>