<div class="bg">
    <br>
    <div class="container">
        <br>
        <ul class="custom-list">
            <br>
            <li>Operating Mobile Medical Units (MMUs) in outreach areas through integration of promotive, preventive, and curative healthcare</li>
            <li>Technology enabled and digitally focused robust systems & processes</li>
            <li>Availability of qualified & experienced human resources & manpower for excellence in project management.</li>
            <li>Availability of high-level leadership & management expertise with international experience</li>
            <li>Partnership approach - drawing additional resources and vast pool of diverse expertise and innovations to tackle social sector problems</li>
            <li>Strong presence and Kolkata, East India and North-eastern States</li>
            <li>Strong project management expertise</li>
            <br>
        </ul>
        <br>
        <br>
        <br>
    </div>
</div>