<nav class="navbar">
  <div>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active-link">About Us</a></li>
        <li><a routerLink="/registrations" routerLinkActive="active-link">Registrations</a></li>
        <li><a routerLink="/strengths" routerLinkActive="active-link">Strengths</a></li>
        <li><a routerLink="/specialization" routerLinkActive="active-link">Specialization</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active-link">Gallery</a></li>
        <li><a routerLink="/collaborations" routerLinkActive="active-link">Collaborations</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link">Contact Us</a></li>
      </ul>
    </div>
</nav>