<nav>
  <div>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/registrations">Registrations</a></li>
        <li><a routerLink="/strengths">Strengths</a></li>
        <li><a routerLink="/specialization">Specialization</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/collaborations">Collaborations</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>
</nav>