<div class="bg">
    <br>
    <div class="page_title">
        Proposed Model - Mobile Medical Unit (MMU)
        <br>
    </div>
    <table>
        <tr>
          <td>➤ Proposed project name</td>
          <td>-</td>
          <td>Jan Swasthya</td>
        </tr>
        <tr>
          <td>➤ Services offered</td>
          <td>-</td>
          <td>Providing primary health care facilities to the local public</td>
        </tr>
        <tr>
          <td>➤ Beneficiaries</td>
          <td>-</td>
          <td>General public living in the area</td>
        </tr>
        <tr>
            <td>➤ Scope</td>
            <td>-</td>
            <td>Primary Healthcare facilities, Health Awareness</td>
        </tr>
        <tr>
            <td>➤ Resources</td>
            <td>-</td>
            <td>Doctors, paramedic, drivers, other staff & social volunteers</td>
        </tr>
        <tr>
            <td>➤ Data capture</td>
            <td>-</td>
            <td>Manual / Digital (as required)</td>
        </tr>
        <tr>
            <td>➤ Schedule</td>
            <td>-</td>
            <td>Select service camp locations on select days</td>
        </tr>
        <tr>
            <td>➤ Service Point</td>
            <td>-</td>
            <td>Local schools, Gram Panchayats, Anganwadi centres etc</td>
        </tr>
        <tr>
            <td>➤ Referral</td>
            <td>-</td>
            <td>Local PHC / Health Institution</td>
        </tr>
        <tr>
            <td>➤ Medicine Dispensation</td>
            <td>-</td>
            <td>Branded / General (as required and as per scope)</td>
        </tr>
      </table>
      <br>
</div>

<!-- <div class="container">
        <ul class="custom-list">
            <br>
            <li>Proposed project name -	Jan Swasthya</li>
            <li>Services offered - 	Providing primary health care facilities to the local public</li>
            <li>Beneficiaries - 		General public living in the area</li>
            <li>Scope - 		Primary Healthcare facilities, Health Awareness</li>  
            <li>Resources -		Doctors, paramedic, drivers, other staff & social volunteers</li>
            <li>Data capture -		Manual / Digital (as required)</li>
            <li>Schedule -		Select service camp locations on select days</li>
            <li>Service Point - 		Local schools, Gram Panchayats, Anganwadi centres etc</li>
            <li>Referral -		Local PHC / Health Institution</li>
            <li>Medicine Dispensation-	Branded / General (as required and as per scope)</li>
            <br>
        </ul>
    </div> -->