<div class="background">
    <br>
    <div class="image-container">
        <img src="assets/images/contactus.png" alt="Image">
    </div>
    <br>
    <br>
    <h1>NORTH KOLKATA JANAHIT SANKALP</h1>
    <br>
    <h2>Regd No. : S / 1 L / 80068</h2>
    <h2>26, W.C Banerjee Street, Kolkata - 700006</h2>
    <h2>Call:- 03340081544</h2>
    <h2>janhitsankalp@gmail.com</h2>
    <br>
    <br>
    <h2>Project Office</h2>
    <h2>A-11, Distt, Sector 24,</h2>
    <h2>Noida, Uttar Pradesh - 201301</h2>
    <h2></h2>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>