<div class="bg">
    <br>
    <br>
    <br>
    <div class="container">
        <br>
        <br>
        <ul class="custom-list">
            <br>
            <li>Registered with the Ministry of Corporate Affairs, Govt. of India.</li>
            <li>Registered with NGO Darpan under NITI Ayog, Govt. of India</li>
            <li>Registered under Ministry of Micro, Small & Medium Enterprises, Govt. of India</li>
            <li>Affiliated by Nehru Yuva Kendra Sangathan, Ministry of Youth Affairs & Sports, Govt. of India</li>
            <li>Registered under Sec. 80G of the Income Tax Act 1961</li>
            <li>Registered under Sec. 12A of the Income Tax Act 1961</li>
            <li>CSR Registration No. CSR00035157</li>
            <li>PAN : AACAN4425F</li>
            <br>
        </ul>
        <br>
        <br>
        <br>
    </div>
</div>